
    
    <div class="col-md-12">
      <div class="card card-container">
        <h2 class="section-label" i18n>Sign up</h2>
        <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
        <form
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmitSignup()"
          #f="ngForm"
          novalidate
        >
          
          <div class="form-group">
            <label for="username" i18n>Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form2.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
            />
            <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors['required']" i18n>Username is required</div>
              <div *ngIf="username.errors['minlength']" i18n>
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors['maxlength']" i18n>
                Username must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" i18n>Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form2.email"
              required
              email
              #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
            />
            <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']" i18n>Email is required</div>
              <div *ngIf="email.errors['email']" i18n>
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" i18n>Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form2.password"
              required
              minlength="6"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            />
            <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors['required']"i18n>Password is required</div>
              <div *ngIf="password.errors['minlength']" i18n>
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="adress" i18n>adress</label>
            <input
              type="text"
              class="form-control"
              name="adress"
              [(ngModel)]="form2.adress"
              required
              minlength="10"
              maxlength="100"
              #adress="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && adress.errors }"
            />
            <div class="invalid-feedback" *ngIf="adress.errors && f.submitted">
              <div *ngIf="adress.errors['required']" i18n>adress is required</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="lastname">lastname</label>
            <input
              type="text"
              class="form-control"
              name="lastname"
              [(ngModel)]="form2.lastname"
              required
              minlength="3"
              maxlength="100"
              #lastname="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastname.errors }"
            />
            <div class="invalid-feedback" *ngIf="lastname.errors && f.submitted">
              <div *ngIf="lastname.errors['required']" i18n> lastname is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="firstname" i18n>firstname</label>
            <input
              type="text"
              class="form-control"
              name="firstname"
              [(ngModel)]="form2.firstname"
              required
              minlength="3"
              maxlength="10"
              #firstname="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && firstname.errors }"
            />
            <div class="invalid-feedback" *ngIf="firstname.errors && f.submitted">
              <div *ngIf="firstname.errors['required']" i18n> firstname is required</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" i18n>Sign Up</button>
          </div>
    
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed" i18n>
            Signup failed!<br />{{ errorMessage }}
          </div>
        </form>
    
        <div class="alert alert-success" *ngIf="isSuccessful" i18n>
          Your registration is successful!
        </div>
      </div>
    </div> 

    

