
<app-user-navigation></app-user-navigation>

<div class="container custom-container">

  <!-- First Row of Cards -->
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="custom-brand"><span class="fa fa-th-large"></span></div>
        <div class="card-body">
          <h5 class="card-title" i18n>My artworks</h5>
          <p class="card-text"i18n>The number of artworks: <strong>{{artCount}}</strong>.</p>
          <a href="/user/art" class="btn btn-primary btn-custom-link"i18n>Detail</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="custom-brand"><span class="fa fa-th-large"></span></div>
        <div class="card-body">
          <h5 class="card-title"i18n>My bids</h5>
          <p class="card-text"i18n>The number of bids is <strong>{{bidCount}}</strong></p>
          <a href="/user/bids" class="btn btn-primary btn-custom-link"i18n>Detail</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="custom-brand"><span class="fa fa-euro"></span></div>
        <div class="card-body">
          <h5 class="card-title"i18n>My Purchases</h5>
          <p class="card-text"i18n>The number of purchases is <strong>{{orderCount}}</strong></p>
          <a href="/user/orders" class="btn btn-primary btn-custom-link"i18n>Detail</a>
        </div>
      </div>
    </div>
  </div>

</div>

