.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.image-container img {
  object-fit: cover;
  height: 200px; 
  width: 200px; 
}

.art-card-container {
  margin: 1rem;
  flex-basis: 200px;
}

.btn-custom {
  background-color: #112546;
  border-color: #FFD700; 
  color: #fcf9f9; 
  width: 100px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem; 
}

.sidebar {
  flex: 1;
  
}

.art-gallery {
  flex: 3;
 
}

.main-container {
  display: flex;
  flex-direction: row;
}

.filter-section {
  flex: 1; 
}

.art-gallery-section {
  flex: 3; 
}








