<div class="container">
    <div class="reset-section">
      <div class="card card-container">
        <h2 class="section-label">Forgot Password</h2>
        <form (ngSubmit)="onSubmitForgotPassword()" #forgotForm="ngForm">
          <div class="form-group">
            <label for="email" i18n>Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="userEmail" required #email="ngModel"/>
            <div *ngIf="email.errors && forgotForm.submitted" class="invalid-feedback" i18n>
              Email is required!
            </div>
          </div>
          <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
          <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
          <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </form>
      </div>
    </div>
  </div>
  
  
