<h2>Conditions de garantie</h2>
<section>
    <p>Vous bénéficiez d'une garantie sur <br/></p>
        <ul>
            <li>l'état</li>
            <li> l'authenticité</li>
            <li>le transport</li>
        </ul>
    <p>Les présentes conditions de garantie, que tous les vendeurs sur Creative auction house  sont tenus de respecter, s’appliquent aux ventes aux enchères sur Creative auction house . Si une œuvre que vous avez achetée n'est pas conforme à sa description, vous pouvez faire valoir la garantie dans un délai de 3 semaines après la réception de votre achat.</p>
</section>

<section>
    <ol>
        <li>Etat</li>
            <p>L'état de l’œuvre doit être conforme à sa description sur la page du lot. De nombreuses œuvres d'art et de design mises en vente sur Creative auction house  proviennent du marché secondaire. Par conséquent, il n'est pas toujours possible de décrire toutes les petites imperfections - comme des traces d'usure - et elles font partie du « cours de la vie » de l’œuvre. Si une œuvre d’art n'est pas en bon état, le vendeur doit impérativement et clairement en faire mention dans la description du lot, si possible en fournissant une photo. Si aucune détérioration n'a été mentionnée, l'acheteur doit pouvoir supposer que l'œuvre est en bon état.</p>
        <li>Authenticité</li>
            <p>L'œuvre d'art doit être authentique. S'il s'avère que l’œuvre n’a pas été faite par l'artiste mentionné dans la description de la vente (erreur ou contrefaçon), l'acheteur peut faire valoir la garantie. La même règle s'applique si l’œuvre provient bien de l’artiste indiqué, mais elle se révèle une reproduction de l'œuvre originale, sans que le vendeur l'ait signalé dans la description de la vente. En cas de doutes sur l’authenticité de l’œuvre, un rapport d’évaluation du lot en question doit être établi par un expert pour confirmer ces soupçons.</p>
        <li>Transport</li>
            <p>Le transport est au risque du vendeur. Si le vendeur envoie une œuvre par voie postale ou par l'intermédiaire d'un transporteur spécialisé, il est responsable du transport. En cas d'endommagements subis pendant le transport, l'acheteur peut faire appel à la garantie. Dans ce cas, l'acheteur est tenu de fournir des photos des détériorations sur l’œuvre et le colis/l'emballage, afin que le vendeur puisse potentiellement recevoir une compensation de la part de la société de transport. Susdit ne s'applique pas si l'acheteur a lui-même fait appel à une société de transport pour récupérer l’œuvre.</p>
    </ol>
</section>

<section>
    <h3>Conditions de garantie</h3>
    <p>Si l'acheteur peut faire valoir la garantie, les règles listées ci-dessous sont applicables :</p>
    <ul>
        <li>Le vendeur doit rembourser le prix d'achat à l'acheteur (les frais de commission et les frais de livraison inclus, le cas échéant).</li>
        <li>Les frais de retour de l’œuvre sont à la charge de l'acheteur.</li>
        <li>Creative auction house  se porte garant pendant la période où le vendeur rembourse le montant payé et l'acheteur renvoie l’œuvre.</li>
        <li>Si une œuvre a été ou sera retirée sur place, le vendeur n'est pas dans l'obligation de rembourser les frais de déplacement éventuels.</li>
        <li>La procédure de garantie doit être finalisée dans un délai de 5 jours ouvrés.</li>
    </ul>
</section>

<section>
    <h3>Litiges et assurance</h3>
    <p>Nous espérons bien évidemment qu'un accord à l'amiable sera trouvé, mais en cas de désaccord entre le vendeur et l'acheteur, nous vous conseillons de faire appel à la médiation de Creative auction house . Creative auction house  prendra une décision que l'acheteur et le vendeur doivent respecter, sous peine d'exclusion des ventes aux enchères sur Creative auction house .<br/>Si un vendeur ne rembourse pas le prix d'achat, l'acheteur ayant réglé et demandé le remboursement, le vendeur sera exclu des ventes aux enchères sur Creative auction house  et l'acheteur pourra s'appuyer - sous conditions - sur notre assurance achats. </p>
</section>

<section>
    <h3>Assurance achats</h3>
    <p>Si un vendeur ne rembourse pas le prix d'achat, l'acheteur ayant réglé et demandé le remboursement, le vendeur sera exclu des ventes aux enchères sur Creative auction house  et l'acheteur pourra s'appuyer sur notre assurance achats. Les conditions suivantes s'y appliquent :</p>
    <ul>
        <li>Le vendeur ne remplissant pas ses obligations doit avoir vendu au moins 25 lots depuis son compte. Vous trouvez ce chiffre sur la page du profil du vendeur.</li>
        <li>Vous pouvez réclamer un maximum de € 500 par vendeur (non par œuvre) en vertu de l'assurance achats.</li>
        <li>Veuillez bien vouloir fournir une preuve de paiement au vendeur à Creative auction house .</li>
        <li>Veuillez bien vouloir porter plainte de fraude à la police et envoyer une copie du dépôt de plainte à Creative auction house .</li>
    </ul>
</section>
<p>Si toutes les conditions sont remplies, Creative auction house  vous remboursera le prix d'achat jusqu'à € 500. En outre, le vendeur sera exclu des ventes aux enchères sur Creative auction house .</p>
<p>En cas de litige sur l'authenticité ou la conformité du lot, l'assurance achats ne s'applique pas, à moins qu'il s'agisse manifestement d'escroquerie ou de mauvaise foi.</p>


    
    
    
    
